<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-247-124-9.eu-west-1.compute.amazonaws.com:5432/dfttfcrlb3o86u?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
        <property name="hibernate.connection.username">xehnxlegzoxwms</property>
        <property name="hibernate.connection.password">140afd73d63f5c8835f041a2f9b5da278d1289f1e97527db5936d80d861f9a64</property>
       <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb?verifyServerCertificate=false&amp;useSSL=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">oWM,yjo-,8C5</property>
        <property name="hibernate.connection.password">pupuce</property> -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="c3p0.max_size">100</property>
        <property name="c3p0.min_size">0</property>
        <property name="max_statements">100</property>
        <property name="c3p0.timeout">0</property>

        <property name="show_sql">true</property>
        <mapping resource="Utilisateur.hbm.xml"/>
        <mapping resource="Amis.hbm.xml"/>
        <!--<mapping resource="NotationUsers.hbm.xml"/>
        <mapping resource="NoteMoyenne.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>