
body{
    background-color: black;
}
img{
    max-width: 100%;
    border: 2px white solid;
}


.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.rating{
    font-weight: bold;
}

.release{
    font-weight: bold;
}

.eachMovie{
    background-color: black;
    color: white;
}
.btnModal{
    background-color: black;
    margin-bottom: 35px;
    border: black;
}
.modal-content{
    color: black;
    padding: 2px;
    min-width: 656px;
}
.moviePosterInModal{
    padding: 12px;
}
.movieName{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Carrois Gothic SC', sans-serif;
}
.btn-primary{
    margin: 5px;
    padding: 5px;
    background: transparent;
    color: #5EADFF;
    border: 1px solid #5EADFF;
}
#categorie{
    color: white;
}
.descriptionFilm{
    margin: 10px
}
.sectionFilm{
    margin: 10px;
}
.imgFilm{
    float:left;
    max-width: 70%;
}

.detailFilm{
    background-color: white;
    padding-top: 10px;
    border-radius: 10px;
}

.imgAffiche{
    max-width : 50%;
}

.note{
    font-weight: bold;
}
.dateNote{
    font-weight: bold;
}
.acteursFilm{
    clear: both;;
}

.imgActeur{
    max-width : 10%;
}

.btn{
    margin-left: 10px;
}
.btn-danger{
    margin-top: 8px;
}

.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 20px;
    overflow:hidden;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
.rating a,
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating input:checked ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}

.banderole {
    position: relative;
    margin: 0em auto;
    background-color: #721c24;
    padding: 0em;
    height: 90px;
    min-width: 100%;
    color: #fff3cd;
    overflow: hidden;
    text-align:center;
}


.recommendation {
    position: absolute;
    top: 30%;
    right: -30%;
    z-index: 10;
    display: inline-block;
    font-size: 12px;
    min-width: 100%;
    text-align: center;
    padding: 0em 0;
    color: white;
    transform: rotate(45deg);
    border: 5px solid white;
    background-color: transparent;
}