<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>utils.HibernateUtil</listener-class>
    </listener>

    <!-- ••••• Connexion ••••• -->

    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>servlets.Connexion</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>

    <!-- ••••• Inscription ••••• -->

    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>servlets.Inscription</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>

    <!-- ••••• Search ••••• -->
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlets.Search</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/servlets/Search</url-pattern>
    </servlet-mapping>

</web-app>