<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>utils.HibernateUtil</listener-class>
    </listener>

    <!-- ••••• Filtres session ••••• -->
    <!--   <filter>
        <filter-name>Filtre</filter-name>
        <filter-class>filters.RestrictionFilter</filter-class>
    </filter> -->
    <!-- TODO : ¿¿¿ Les mappings de filtres sont appliqués les uns apres les autres selon leurs positions -->
    <!--   <filter-mapping>
         <filter-name>Filtre</filter-name>
         <url-pattern>/*</url-pattern>
     </filter-mapping> -->



     <!-- ••••• Test session TODO a enelever ••••• -->
    <!--<session-config>
        <session-timeout>1</session-timeout>
    </session-config>-->

    <!-- ••••• Connexion ••••• -->
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>servlets.Connexion</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>

    <!-- ••••• Inscription ••••• -->

    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>servlets.Inscription</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <!-- ••••• Inscription ••••• -->
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>servlets.Deconnexion</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>


    <!-- ••••• TestMongodb ••••• -->
    <!--<servlet>
        <servlet-name>TestMongodb</servlet-name>
        <servlet-class>servlets.TestMongodb</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>TestMongodb</servlet-name>
        <url-pattern>/testMongodb</url-pattern>
    </servlet-mapping>-->

    <!-- ••••• Commentaires ••••• -->
    <servlet>
        <servlet-name>Commentaires</servlet-name>
        <servlet-class>servlets.Commentaires</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Commentaires</servlet-name>
        <url-pattern>/commentaires</url-pattern>
    </servlet-mapping>

    <!-- ••••• initialize FILMS ••••• -->
    <servlet>
        <servlet-name>InitializeFilm</servlet-name>
        <servlet-class>servlets.InitializeFilm</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeFilm</servlet-name>
        <url-pattern>/initializeFilm</url-pattern>
    </servlet-mapping>

    <!-- ••••• get FILMS ••••• -->
    <servlet>
        <servlet-name>Films</servlet-name>
        <servlet-class>servlets.Films</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Films</servlet-name>
        <url-pattern>/films</url-pattern>
    </servlet-mapping>

    <!-- ••••• Search Films ••••• -->
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlets.Search</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <!-- ••••• Film Details ••••• -->
    <servlet>
        <servlet-name>FilmDetails</servlet-name>
        <servlet-class>servlets.FilmDetails</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>FilmDetails</servlet-name>
        <url-pattern>/filmDetails</url-pattern>
    </servlet-mapping>

    <!-- ••••• Film Category ••••• -->
    <servlet>
        <servlet-name>FilmCategory</servlet-name>
        <servlet-class>servlets.FilmCategory</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>FilmCategory</servlet-name>
        <url-pattern>/filmCategory</url-pattern>
    </servlet-mapping>

    <!-- ••••• Film Type(nowPlaying, upComing, popular) ••••• -->
    <servlet>
        <servlet-name>FilmType</servlet-name>
        <servlet-class>servlets.FilmType</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>FilmType</servlet-name>
        <url-pattern>/filmType</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>servlets.Profil</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>

</web-app>